*.pyc
*.swp
data/*
html/events.html
html/events.json
html/scr.js
html/scripts.js
html/index.html
html/index_dev.html
html/events.lsl
html/events.lsl2
html/*.new
*.log
html/events.ics
node_modules/
venv/
fetcher.cfg
*~
ica.cfg
